<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>書籍頁頁</title>
    <style>
        body {
            text-align: center;
        }
    </style>

</head>

<body>
    <h1>書籍列表</h1>
    {{books}}
    {% for id in books %}
    <h2>{{books[id]["name"]}}</h2>
    <p>價格:{{books[id]["price"]}}</p>
    <img src="{{books[id]['image_url']}}" alt="">
    {% endfor %}
    <!-- {{books}}
</body>

</html>